<%- include('include/_header') %> 

<div class="show">
    <div class="container">
      <div class="py-4 ms-3">
        <a href="" class="text-decoration-none text-dark">Cars<i class="bi bi-chevron-right mx-2"></i></a><a href="" class="text-decoration-none text-dark">list Car</a>
      </div>

      <h4 class="fw-bold mt-2 ms-3 ">List Car</h1>

      <div class="add_car float-end position-fixed-end">
        <a href="/add-car" class="text-decoration-none addCar text-white bi bi-plus me-2">Add New Car
          <!-- <i class="bi bi-plus"></i> <span>Add New Car</span> -->
        </a>
      </div>

      <div class="filter">
        <button class="btn-filter mt-2 ms-3 border-1">ALL</button>
        <button class="btn-filter mt-2 ms-3 border-1" >Small</button>
        <button class="btn-filter mt-2 ms-3 border-1">Medium</button>
        <button class="btn-filter mt-2 ms-3 border-1">Large</button>
      </div>
    </div>
    <form action="/" method="post">
        <div class="container container-show ">
            <div class="row">
              <%- include('include/_show') %>  
            </div>
          </div>
    </form>
  </div>
 

<%- include('include/_footer') %> 